.header {
  padding: 10px;
  background: linear-gradient(
    45deg,
    #228be6 0%,
    /* Blue */ #15aabf 100% /* Cyan */
  );
  border-bottom: 1px solid #d1d1d1;
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;

  &:hover {
    border: 2px solid white;
  }
}

.linkLabel {
  margin-right: 5px;
}
